.form-container {
  display: flex;
  flex-direction: column;
  min-height: 380px;
}
.form-container div.input-in-row {
  display: inline-block;
}
.form-container div.input-in-row .time-input {
  width: 48%;
}
.form-container div.input-in-row .time-input:first-child {
  margin-right: 4%;
}
.form-container * {
  width: 100%;
}
p.error {
  margin: 0 0px;
  font-size: 14px;
}
mat-dialog-actions {
  float: right;
}
