.success {
    color: blue;
}

.error {
    color: red;
    font-style: italic;
}

mat-form-field {
    margin-left: 10px;
    margin-right: 10px;
}

.spacer {
    flex: 1 1 auto;
}

.logo {
    margin-right: 12px;
}

th, td {
  width: 150px;  
}

mat-card {
    width: 110px;

    &.header-card {
        height: 20px;
        font-weight: bold;
    }
    
    &.schedule-card {
        height: 40px;
    }

    &.schedule-taken {
        background-color: bisque;
    }

    &.time-card {
        width: 110px;
    }
}