<!--The content below is only a placeholder and can be replaced.-->
<header>
  <mat-toolbar color="primary">
      <mat-toolbar-row>
        <img width="50" class="pn-logo" alt="PN Logo" src="../assets/pn_logo.png">
        <p>Schedule Master</p>
        <span class="spacer"></span>
        <p class="powered-by">powered by</p>
        <img width="60" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
      </mat-toolbar-row>
  </mat-toolbar>
</header>

<table>
  <tr>
    <th>Time</th>
    <th *ngFor="let b of settings.batches">{{b}}</th>
  </tr>
  <tr *ngFor="let d of scheduleData">
    <td class="row-title">{{d.time}}</td>
    <td *ngFor="let s of d.data; let i = index">
      <app-schedule-tile *ngIf="s" [id]="s.id" [teacher]="s.teacher" [room]="s.room" [subject]="s.subject" 
        (deleteSuccessEvent)="refreshSchedules()" (deleteFailEvent)="openErrorDialog($event)"></app-schedule-tile>
      <app-empty-tile *ngIf="!s" [settings]="settings" [timeslot]="d.time" [batch]="settings.batches[i]" 
        (saveSuccessEvent)="refreshSchedules()"></app-empty-tile>
    </td>
  </tr>
</table>

<router-outlet></router-outlet>

<footer>
  <mat-toolbar color="primary">
      <mat-toolbar-row>
          <p>&copy; Rene</p>
          <span class="spacer"></span>
          <p>for Passerelles numériques Philippines</p>
      </mat-toolbar-row>
  </mat-toolbar>
</footer>