<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <img width="50" class="logo" alt="PN Logo" src="../assets/pn_logo.png">
      <span>Schedulator</span>
      <span class="spacer"></span>
      <img width="60" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </mat-toolbar-row>
</mat-toolbar>

<mat-list>
  <mat-list-item>
    <mat-card class="header-card">Time</mat-card>
    <mat-card class="header-card" *ngFor="let b of settings.batches">
      <mat-card-content>{{b}}</mat-card-content>
    </mat-card>
  </mat-list-item>
  <mat-list-item *ngFor="let d of scheduleData">
    <mat-card class="time-card">{{d.time}}</mat-card>
    <mat-card *ngFor="let s of d.data">
      <app-schedule-tile *ngIf="s" [id]="s.id" [teacher]="s.teacher" [room]="s.room" [subject]="s.subject" 
      (deleteSuccessEvent)="refreshSchedules()" (deleteFailEvent)="this.errorMessage = $event"></app-schedule-tile>
      <app-empty-tile *ngIf="!s"></app-empty-tile>
    </mat-card>

  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>

<!-- Move this to a popup ultimately -->
<h4>Add new entry:</h4>
<form [formGroup]="scheduleForm" (ngSubmit)="onSave(scheduleForm.value)">
  <mat-form-field>
    <mat-label>Time slot</mat-label>
    <mat-select formControlName="time">
      <mat-option *ngFor = "let o of this.settings.timeslots" [value] = "o">{{o}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Batch</mat-label>
    <mat-select formControlName="batch">
      <mat-option *ngFor = "let o of this.settings.batches" [value] = "o">{{o}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Teacher</mat-label>
    <mat-select formControlName="teacher">
      <mat-option *ngFor = "let o of this.settings.teachers" [value] = "o">{{o}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
      <mat-label>Venue</mat-label>
      <mat-select formControlName="room">
        <mat-option *ngFor = "let o of this.settings.rooms" [value] = "o">{{o}}</mat-option>
      </mat-select>
    </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="subject" placeholder="Subject">
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>

<p class="success">{{successMessage}}</p>
<p class="error">{{errorMessage}}</p>

<router-outlet></router-outlet>
