/* You can add global styles to this file, and also import other style files */
/* for angular calendar */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
.error {
  color: #C2185B;
}
.success {
  color: #43A047;
}
body {
  margin: 0;
  font-family: 'Helvetica';
  overflow-x: hidden;
}
