<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Batches calendar">
    <app-calendar [loading]="loading" [settings]="settings" [events]="events" [filteringKey]="'batch'" [settingsFilteringKey]="'batches'"></app-calendar>
  </mat-tab>
    
  <mat-tab label="Teachers calendar">
    <app-calendar [loading]="loading" [settings]="settings" [events]="events" [filteringKey]="'teacher'" [settingsFilteringKey]="'teachers'"></app-calendar>
  </mat-tab>
  
  <mat-tab label="Room usage">
    <app-calendar [loading]="loading" [settings]="settings" [events]="events" [filteringKey]="'room'" [settingsFilteringKey]="'rooms'"></app-calendar>
  </mat-tab>
</mat-tab-group>