<table>
    <thead>
      <tr>
        <th>Time</th>
        <th *ngFor="let b of settings.batches">{{b}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of scheduleData">
        <td class="row-title">{{d.time}}</td>
        <td *ngFor="let s of d.data; let i = index">
          <app-schedule-tile *ngIf="s" [id]="s.id" [teacher]="s.teacher" [room]="s.room" [subject]="s.subject" 
            (deleteSuccessEvent)="refreshSchedules()" (deleteFailEvent)="openErrorDialog($event)"></app-schedule-tile>
          <app-empty-tile *ngIf="!s" [settings]="settings" [timeslot]="d.time" [batch]="settings.batches[i]" 
            (saveSuccessEvent)="refreshSchedules()"></app-empty-tile>
        </td>
      </tr>
    </tbody>
  </table>
