mat-toolbar {
    margin-bottom: 1%;

    .spacer {
        flex: 1 1 auto;
    }

    p.error {
        color: red;
        font-size: 14px;
        margin-right: 10px;
    }

    mat-icon {
        margin-right: 10px;
        color: green;
    }
}

.chip-list {
    width: 90%;
    margin-left: 2%
}