mat-toolbar {
    margin-bottom: 1%;

    .spacer {
        flex: 1 1 auto;
    }

    .error {
        color: red;
        font-size: 14px;
    }

    .success { color: green; }

    button { margin-left: 10px;}
}

.chip-list {
    width: 90%;
    margin-left: 2%
}