<mat-toolbar>
  <mat-toolbar-row>
    <h3>Settings</h3>
    <span class="spacer"></span>
    <p class="error">{{errorMessage}}</p>
    <mat-icon class="success" *ngIf="saved">check_circle</mat-icon>
    <button mat-raised-button color="accent" [disabled]='!changed' (click)="saveSettings()">Save</button>  
    <button mat-raised-button color="primary" [routerLink]="['/']">Home</button>  
  </mat-toolbar-row>
</mat-toolbar>

<mat-form-field class="chip-list">
  <mat-chip-list #teacherList>
    <mat-chip *ngFor="let el of settings.teachers" removable (removed)="remove(el, 'teachers')">
      {{el}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input placeholder="Teachers"
            [matChipInputFor]="teacherList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event, 'teachers')">
  </mat-chip-list>
</mat-form-field>
<mat-form-field class="chip-list">
  <mat-chip-list #roomList>
    <mat-chip *ngFor="let el of settings.rooms" removable (removed)="remove(el, 'rooms')">
      {{el}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input placeholder="Venues"
            [matChipInputFor]="roomList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event, 'rooms')">
  </mat-chip-list>
</mat-form-field>
<mat-form-field class="chip-list">
  <mat-chip-list #batchList>
    <mat-chip *ngFor="let el of settings.batches" removable (removed)="remove(el, 'batches')">
      {{el}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input placeholder="Batches"
            [matChipInputFor]="batchList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event, 'batches')">
  </mat-chip-list>
</mat-form-field>

<mat-toolbar>
  <mat-toolbar-row>
    <span class="spacer"></span>
    <button mat-raised-button color="accent" (click)="postponeOneWeek()">Move events up one week</button>  
    <button mat-raised-button color="warn" (click)="deleteAllSchedules()">Delete all schedules</button>  
  </mat-toolbar-row>
</mat-toolbar>